@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

html {
	font-family: 'Roboto', sans-serif;
	font-size: 10px;
	/*background-color:rgba(20, 156, 151, 0.5);)*/
	background-image: linear-gradient(to left, #3fcc9b, #3f5be8, #e83fb5);
	text-align: justify;
}


body {
	width: 600px;
	margin: 0 auto;
	background-color: rgba(81, 97, 189, 0.5);
	padding: 0 20px 20px 20px;
	border: 1px solid black;
}


h1 {	
	margin: 0;
	padding: 20px 0px;
}

p, li{
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
}

figure {
	display: block;
	margin: auto;
}

footer {
	margin: 0;
	padding: 0;

}
